h1.contacto-titulo,
h2.horarios-titulo {
    color: var(--azul);
    text-align: center;
    margin-bottom: 20px;
}

.contacto-descripcion {
    font-size: 1.1em;
    text-align: center;
    margin: 10px 0 30px;
    color: var(--gris-oscuro);
}

.agenda-cita {
    padding: 20px;
    max-width: 640px;
    margin: 20px auto;
    text-align: center;
    border-radius: 20px;
    background-color: var(--gris);
    box-shadow: 0 2px 4px var(--negro);
}

.agenda-titulo {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--negro);
    margin: 0 0 20px;
}

.agenda-boton {
    border: none;
    font-size: 1em;
    cursor: pointer;
    margin: 0 0 20px;
    padding: 10px 20px;
    border-radius: 5px;
    color: var(--blanco);
    background-color: var(--azul);
    box-shadow: 0 2px 4px var(--negro);
    transition: background-color 0.3s ease;
}

.agenda-boton:hover {
    background-color: var(--azul-oscuro);
}

.tabla-horarios {
    width: 80%;
    margin: 50px auto;
    border-collapse: collapse;
    background: var(--blanco);
    border: 1px solid var(--gris);
    box-shadow: 0 2px 4px var(--negro);
}

.tabla-horarios th,
.tabla-horarios td {
    padding: 10px;
    text-align: center;
    border: 1px solid var(--gris);
}

.tabla-horarios th {
    font-weight: bold;
    color: var(--blanco);
    background-color: var(--azul);
}

.tabla-horarios tr:nth-child(even) {
    background-color: var(--gris);
}

.tabla-horarios tr:hover {
    color: var(--blanco);
    background-color: var(--celeste);
}

@media (max-width: 1025px) {
    .tabla-horarios {
        font-size: 18px;
    } 
}

@media (max-width: 426px) {
    .tabla-horarios {
        margin: 3rem 0;
        width: 100%;
        font-size: 12px;
    } 
}